html,
body {
  color: #FFFF;
  text-align: center;
  object-fit: cover;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}
.container {
  overflow: hidden;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  /* border: 3px solid yellow; */
  text-align: center;
  padding: 10px;
  margin: 50px;
}

.column {
  flex: 1 1 0px;
  border: 10px;
  /* border:3px solid  rgb(182, 0, 0); */
  text-align: center;
}

img {
  width: 25vw;
  height: 20vw;
  margin: 2rem;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}
 

canvas {
  width: 25vw;
  height: 20vw;
  margin: 2rem;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  /* position: absolute; */
  transform:(-50%, -50%);
}